name: Build Docker Container

on:
  push:
    branches:
      - main
      - solution
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t github-stats-app:${{ github.sha }} .
          docker build -t github-stats-app:latest .

      # - name: Test Docker image
      #   run: |
      #     docker run --rm github-stats-app:${{ github.sha }} python -c "import app; print('Image build successful')"
